In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
raw_df_match_details = pd.read_csv('../data/raw/match_details.csv')
raw_df_player_attr = pd.read_csv('../data/raw/player_attributes.csv')

In [3]:
raw_df_player_attr

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183973,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,right,medium,low,84.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,right,medium,low,74.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,right,medium,low,74.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,right,medium,low,74.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0

In [4]:
# raw_df_match_details.info()

In [5]:
# raw_df_player_attr.info()

In [6]:
raw_df_match_details = (raw_df_match_details
 .assign(date=pd.to_datetime(raw_df_match_details['date']),
         result_match=lambda df: (df['result_match'] == 'H').astype(int))
 )

In [7]:
raw_df_match_details['date'] = pd.to_datetime(raw_df_match_details['date'])
raw_df_player_attr['date'] = pd.to_datetime(raw_df_player_attr['date'])
raw_df_match_details.sort_values(by=['season', 'date'],inplace=True)
# raw_df_match_details.drop('stage', axis=1, inplace=True)

In [8]:
from playerstats import player_stats

players_cols = ['{}_player_{}'.format(team, i) for team in ['home', 'away'] for i in range(1, 12)]

player_stats_dict_series = raw_df_match_details.apply(
    lambda row: player_stats.calculate_player_stat(
        match_row=row,
        df_matches=raw_df_match_details,
        df_player_attr=raw_df_player_attr,
        players=players_cols
    ),
    axis=1
)

new_player_stats_df = pd.json_normalize(player_stats_dict_series)

df = pd.merge(raw_df_match_details, new_player_stats_df, how='left', on='match_api_id')
df.drop(players_cols, axis=1, inplace=True)
matching_columns = [col for col in df.columns if 'player_rating' in col] + [col for col in df.columns if 'aggression_rating' in col] + [col for col in df.columns if 'strength_rating' in col] + [col for col in df.columns if 'acceleration_rating' in col]
df.dropna(subset=matching_columns, inplace=True)
matching_columns_filtered = [c for c in df.columns if c != "date" and c != "season"]

In [9]:
df.head()

,match_api_id,season,stage,date,away_team,home_team,home_team_goal,away_team_goal,result_match,away_shoton,...,player_strength_rating_away_player_9,player_aggression_rating_away_player_9,player_rating_away_player_10,player_acceleration_rating_away_player_10,player_strength_rating_away_player_10,player_aggression_rating_away_player_10,player_rating_away_player_11,player_acceleration_rating_away_player_11,player_strength_rating_away_player_11,player_aggression_rating_away_player_11
0,30291,2008/2009,1,2008-08-16,8659,9825,1,0,1,0,...,72,72,73,73,73,73,68,68,68,68
1,30292,2008/2009,1,2008-08-16,8650,8472,0,1,0,0,...,80,80,85,85,85,85,87,87,87,87
2,30293,2008/2009,1,2008-08-16,8528,8654,2,1,1,0,...,77,77,71,71,71,71,75,75,75,75
3,30295,2008/2009,1,2008-08-16,8655,8668,2,3,0,0,...,77,77,76,76,76,76,80,80,80,80
4,30296,2008/2009,1,2008-08-16,8586,8549,2,1,1,0,...,79,79,72,72,72,72,83,83,83,83

In [23]:
df_=df.copy()

In [24]:
home_df = df_[['match_api_id', 'season', 'stage', 'date', 'home_team', 'home_team_goal', 'away_team_goal',
             'result_match', 'home_shoton', 'home_possession'] +
             [col for col in df_.columns if 'player_rating_home_player_' in col]]
home_df = home_df.rename(columns={
    'home_team': 'team',
    'home_team_goal': 'team_goal',
    'away_team_goal': 'opponent_goal',
    'home_shoton': 'team_shoton',
    'home_possession': 'team_possession'
})
home_df['is_home'] = 1

away_df = df_[['match_api_id', 'season', 'stage', 'date', 'away_team', 'home_team', 'home_team_goal', 'away_team_goal',
             'result_match', 'away_shoton', 'away_possession'] +
             [col for col in df_.columns if 'player_rating_away_player_' in col]]
away_df = away_df.rename(columns={
    'away_team': 'team',
    'away_team_goal': 'team_goal',
    'home_team_goal': 'opponent_goal',
    'away_shoton': 'team_shoton',
    'away_possession': 'team_possession'
})
away_df['is_home'] = 0

team_df = pd.concat([home_df, away_df], ignore_index=True)
team_df = team_df.sort_values(by=['team', 'date']).reset_index(drop=True)
team_df.head()

,match_api_id,season,stage,date,team,team_goal,opponent_goal,result_match,team_shoton,team_possession,...,player_rating_away_player_2,player_rating_away_player_3,player_rating_away_player_4,player_rating_away_player_5,player_rating_away_player_6,player_rating_away_player_7,player_rating_away_player_8,player_rating_away_player_9,player_rating_away_player_10,player_rating_away_player_11
0,3221,2009/2010,1,2009-08-15,8191,0,2,1,0,0,...,66.0,66.0,66.0,66.0,66.0,56.0,68.0,69.0,61.0,70.0
1,3229,2009/2010,2,2009-08-19,8191,1,0,1,10,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3241,2009/2010,3,2009-08-23,8191,1,0,1,2,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3252,2009/2010,4,2009-08-29,8191,0,3,1,5,61,...,68.0,68.0,68.0,68.0,68.0,70.0,56.0,66.0,69.0,61.0
4,3253,2009/2010,5,2009-09-12,8191,0,4,1,2,36,...,68.0,68.0,68.0,68.0,68.0,71.0,59.0,68.0,70.0,64.0

In [25]:
features_to_shift = ['team_shoton', 'team_possession'] + [col for col in team_df.columns if 'player_rating_' in col]
team_df_shifted = team_df.groupby('team')[features_to_shift].shift(1)

home_prev = team_df[team_df['is_home'] == 1][['match_api_id']].copy()
home_prev = home_prev.merge(team_df_shifted, left_index=True, right_index=True)
home_prev = home_prev.rename(columns=lambda x: 'home_prev_' + x if x != 'match_api_id' else x)

away_prev = team_df[team_df['is_home'] == 0][['match_api_id']].copy()
away_prev = away_prev.merge(team_df_shifted, left_index=True, right_index=True)
away_prev = away_prev.rename(columns=lambda x: 'away_prev_' + x if x != 'match_api_id' else x)

df_ = df_.merge(home_prev, on='match_api_id', how='left')

df_ = df_.merge(away_prev, on='match_api_id', how='left')

original_home_features = ['home_shoton', 'home_possession'] + [
    col for col in df_.columns if col.startswith('player_rating_home_player_')
]

original_away_features = ['away_shoton', 'away_possession'] + [
    col for col in df_.columns if col.startswith('player_rating_away_player_')
]

df_final = df_.drop(columns=original_home_features + original_away_features)

In [26]:
df_final.head()

,match_api_id,season,stage,date,away_team,home_team,home_team_goal,away_team_goal,result_match,home_prev_team_shoton,...,away_prev_player_rating_away_player_2,away_prev_player_rating_away_player_3,away_prev_player_rating_away_player_4,away_prev_player_rating_away_player_5,away_prev_player_rating_away_player_6,away_prev_player_rating_away_player_7,away_prev_player_rating_away_player_8,away_prev_player_rating_away_player_9,away_prev_player_rating_away_player_10,away_prev_player_rating_away_player_11
0,30291,2008/2009,1,2008-08-16,8659,9825,1,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30292,2008/2009,1,2008-08-16,8650,8472,0,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30293,2008/2009,1,2008-08-16,8528,8654,2,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30295,2008/2009,1,2008-08-16,8655,8668,2,3,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30296,2008/2009,1,2008-08-16,8586,8549,2,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN